@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
   box-sizing: border-box;
}
/* desing body */
body {
    background: linear-gradient(50deg, #091A28 50%, #072946 85%);
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header{
    background-color: #091A28;
    position: fixed;
    /* top: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /* border-bottom: white 2px solid; */
}
.menu .lista{
    display: flex;
    gap: 1.1em;
}
header a i{
    cursor: pointer;
    /* background-color: #FFD700; */
    padding: 8px 5px;
    border-radius: 50%;
    border: 2px solid white;
}
a i{
    color: white;
    font-size: 23px;
    cursor: pointer;
}
a :hover{
    color: #FFD700;

}

.lista a{
    text-decoration: none;
    color: white;
    
    padding: 8px;
    border-radius: 5px;
}
.lista a:hover{
    background-color: #FFD700;
    color: black;
    transition: all 0.5s ease;
}
li{
    list-style: none;
}

/* seccion principal */

#seccion-principal{
    padding: 0 10%;
    margin-top: 140px;
    width: 100%;
}
.seccion-1{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
    height: 75vh;
}
.acerca-imagen img{
    width: 400px;
    height: 400px;
    border: white 3px solid;
    border-radius: 43% 57% 70% 30% / 30% 30% 70% 70%;
    background-color: #FFD700;
    transition: all 0.5s ease;
}
.acerca-imagen img:hover{
    transform:scale(1.1);
    /* background-color: #072946; */
    border-radius: 23% 77% 45% 55% / 74% 59% 41% 26% ;
    
}
.acerca-de h2{
    font-size: 25px;
}

.acerca-de h2 span {
    color: #FFD700;
    font-size: 30px;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: type 2s steps(12), blink-caret .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}


.acerca-de p{
    font-size: 20px;
    text-justify: justify;
}
.acerca-de p a{
    color: #FFD700;
    text-decoration: none;
}

.redes-sociales-menu{
    margin-top: 30px;
    display: flex;
    gap: 2em;
    /* justify-content: center; */
}

.seccion-2{
    text-align: center;
}
/* card design */


/* seccion 3 */
.section-3{
    width: 100%;
    margin-bottom: 50px;
}

.section-3 h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.card{
    background-color: #091A28;
    height: auto;
    width: auto;
    padding: 20px;
    border:1px solid #FFD700;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(63, 62, 62);
    transition: all 0.5s ease;
}
.card-content{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(360px, 1fr));
    grid-gap: 30px;  
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card img:hover{
    scale: 1.05;
    transition: all 0.5s ease;
}
.card-description{
    margin-bottom: 10px;
    gap: 10px;
    
}
.card-description a{
    text-decoration: none;
    padding: 8px;
    background-color: #FFD700;
    border-radius: 5px;
}



/* footer */
.redes-sociales{
    display: flex;
    gap: 2em;
    justify-content: center;
}
.redes-sociales a{
   width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.redes-sociales a:hover{
    /* background-color: #FFD700; */
    /* color: black; */
    border-color: #e7810b;
    color: #d8690e;
    transition: all 0.5s ease;
}
footer{
    /* background-color: #072946; */
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: white 2px solid;
}
/* footer p{
    color: black;
    background-color: #FFD700;
    width: 100%;
    padding: 12px;
    margin-bottom: auto;
} */
.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Contactos */
.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    /* background-color: #f6f7f8; */
    /* border: 1px solid #d6d9dc; */
    border-radius: 3px;
  
    width: 80%;
    margin: 50px auto;
    padding: 50px;
}

.section-4 h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
  }

  
  /* ------------- Formulario ------------- */
  
  .formulario {
    /* background-color: #f6f7f8; */
    border: 1px solid #fffbfb;
    border-radius: 3px;
    box-shadow: #ffffff 0px 0px 10px;
    width: 400px;
    padding: 30px;
    /* margin: 30px 0 40px 0; */
  }
  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"]{
    /* background-color: #bdbdbd; */
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  .form-row input[type="email"] {
    /* background-color: #bdbdbd; */
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #5995da;
  
  
    border: none;
    border-radius: 3px;
  
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }

/* responsivo */
@media (max-width: 768px){
    
    header{
        background-color: #091A28;
        height: 94px;
        border-bottom: white 1px solid;
    } 
    .checkbtn{
        display: block;
    }
    .menu{
        height: 0vh;
        position: absolute;
        top: 94px;
        left: 0;
        width: 100%;
        background: #091A28;
        text-align: center;
        transition: all 0.7s;
        overflow: hidden;
    }
     
      .menu li{
        display: block;
        margin-top: 60px;
        
    }
    .lista li a{
        font-size: 20px;
    }  
    .menu ul.lista {
        /* float: none; */
        display: block;
        width: 174px;
        margin: 0 auto;
        opacity: 0;
        margin-top: 30px;
      }
    
      .menu ul.lista li a:hover {
        color: #000;
      }
      /* ACTIVE */
      .menu.active {
        height: 100vh;
      }
    
      .menu.active ul.lista {
        opacity: 1;
      }




    .seccion-1{
        flex-direction: column;
        gap: 2em;
        height: auto;
    }
    .acerca-imagen img{
        width: 300px;
        height: 300px;
    }
    .acerca-de h2{
        font-size: 20px;
    }
    .acerca-de p{
        font-size: 16px;
    }
    .redes-sociales-menu{
        margin-top: 20px;
    }
     .card-content{
        grid-template-columns: repeat(
            auto-fit, 
            minmax(300px, 1fr));
    }
    .card-description a{
        padding: 5px;
    }
    .redes-sociales a{
        width: 40px;
        height: 40px;
    }
    .redes-sociales a i{
        font-size: 20px;
    }
    .redes-sociales a:hover{
        border-color: #f7f7f7;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    footer{
        padding: 20px 0;
    }

    /* contactos */

    .section-4 {
        padding: 50px;
      }
    .formulario{
        width: 300px;
        padding: 20px;
    }
      .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
      }
      .form-row input[type="text"] {
        width: 250px;
        height: initial;
      }
      .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
        text-align: start;
      }
      .form-row textarea {
          width: 250px;
        }
        .form-row button {
          margin-left: 120px;
          width: 100%;
        }    
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
   box-sizing: border-box;
}

/* desing body */
body {
    background: linear-gradient(50deg, #e6c8a9 50%, #eadbc2 85%); /* Fondo en tonos marrones */
    font-family: 'Nunito Sans', sans-serif;
    color: #333; /* Color de texto oscuro */
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* header */
header {
    background-color: #7c5a3d; /* Fondo en tono marrón oscuro */
}

.menu .lista {
    display: flex;
    gap: 1.1em;
}

header a i {
    cursor: pointer;
    padding: 8px 5px;
    border-radius: 50%;
    border: 2px solid #fff; /* Borde en color blanco */
}

a i {
    color: #fff; /* Color de texto blanco */
}

a :hover {
    color: #b58968; /* Color de texto al pasar el cursor */
}

.lista a {
    text-decoration: none;
    color: #fff; /* Color de texto blanco */
    padding: 8px;
    border-radius: 5px;
}

.lista a:hover {
    background-color: #b58968; /* Color de fondo al pasar el cursor */
    color: #333; /* Color de texto oscuro al pasar el cursor */
    transition: all 0.5s ease;
}

/* seccion principal */
#seccion-principal {
    padding: 0 10%;
    margin-top: 140px;
    width: 100%;
}

.seccion-1 {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
    height: 75vh;
}

.acerca-imagen img {
    width: 400px;
    height: 400px;
    border: #7c5a3d 3px solid; /* Borde en tono marrón oscuro */
    border-radius: 43% 57% 70% 30% / 30% 30% 70% 70%;
    background-color: #b58968; /* Fondo en tono marrón claro */
    transition: all 0.5s ease;
}

.acerca-imagen img:hover {
    transform: scale(1.1);
    border-radius: 23% 77% 45% 55% / 74% 59% 41% 26%;
}

.acerca-de h2 span {
    color: #b58968; /* Color de texto en tono marrón claro */
}

.acerca-de p a {
    color: #b58968; /* Color de enlaces en tono marrón claro */
    text-decoration: none;
}

/* card design */

/* seccion 3 */
.section-3 {
    width: 100%;
    margin-bottom: 50px;
}

.section-3 h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.card {
    background-color: #eadbc2; /* Fondo en tono marrón claro */
    height: auto;
    width: auto;
    padding: 20px;
    border: 1px solid #b58968; /* Borde en tono marrón oscuro */
    border-radius: 10px;
    box-shadow: 0 0 20px #b58968; /* Sombra en tono marrón oscuro */
    transition: all 0.5s ease;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 30px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card img:hover {
    scale: 1.05;
    transition: all 0.5s ease;
}

.card-description {
    margin-bottom: 10px;
    gap: 10px;
}

.card-description a {
    text-decoration: none;
    padding: 8px;
    background-color: #b58968; /* Fondo en tono marrón claro */
    border-radius: 5px;
}

/* footer */
.redes-sociales {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.redes-sociales a {
    width: 40px;
    height: 40px;
    border: 2px solid #fff; /* Borde en color blanco */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.redes-sociales a:hover {
    border-color: #b58968; /* Borde en tono marrón claro al pasar el cursor */
    color: #b58968; /* Color de texto en tono marrón claro al pasar el cursor */
    transition: all 0.5s ease;
}

footer {
    color: #fff; /* Color de texto blanco */
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid #fff; /* Borde superior en color blanco */
}

/* Dentro de la sección de estilos CSS en el archivo styles.css */

/* Modifica el tamaño de la imagen y su contenedor para pantallas más pequeñas */
@media (max-width: 768px) {
    .acerca-imagen {
      width: 100%;
      text-align: center; /* Centra la imagen en pantallas pequeñas */
    }
    .acerca-imagen img {
      max-width: 30%; /* Ajusta el ancho máximo de la imagen */
      height: auto; /* Ajusta automáticamente la altura */
      margin: auto; /* Centra la imagen horizontalmente */
    }
  }
  